{% extends "view/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <h1>Visitor Check In</h1>
      <hr>
      <form method="POST" class="uniForm">
        {% csrf_token %}
        {{ form.first_name|as_crispy_field }}
        {{ form.last_name|as_crispy_field }}
        {{ form.email|as_crispy_field }}
        <div class="form-row">
          <div class="form-group col-md-4 mb-0">
            {{ form.purpose1|as_crispy_field }}
            {{ form.purpose2|as_crispy_field }}
            {{ form.purpose3|as_crispy_field }}
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.purpose4|as_crispy_field }}
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.purpose5|as_crispy_field }}
            {{ form.purpose6|as_crispy_field }}
            {{ form.purpose7|as_crispy_field }}
            {{ form.purpose8|as_crispy_field }}
          </div>
        </div>

        <!--{{ form|crispy }}-->
        <hr>
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </div>
{% endblock content %}
